name: Android

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive  # ensures unpaircore is checked out if it's a submodule

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clean previous CMake build
        run: rm -rf app/.cxx  # ensures no stale build files from pairipcore

      - name: Build with Gradle
        run: ./gradlew build --stacktrace

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Upload Build Outputs
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: app/build/outputs/